<h1>Ski Shop Test App</h1>

<ul>
	<li>
		<%= link_to "Add Skis", new_ski_url %>
	</li>
</ul>

<ul class="products">
<% @skis.each do |ski| %>
		<li class="product-item">
		<%= link_to image_tag(ski.url, :class => "image"), ski_url(ski.id) %>
		<br />
		<ul class="products">
		<li class="product-item">
			<span class="product-title">
			<%= ski.title %> </br>
			</span>
			<%= ski.price %> </br>
			</li>
		</ul>
<% end %>
</ul>
