body {
	font-family: 'Artifika', serif;
	background-color: #E0E0E0;
}

.ul-first {
	list-style-type: none;
}

li {
	display: inline;
}

img { 
   border: 5px solid #787878;
}

form {
	font-family: 'Artifika', serif;
}